@page "/"

@inject GameIndustry.Repository.IRepository repository

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable Games="_games">
</GameListTable>

<IndividualGame Game="_oneGameToShow" IsTable="false" DisplayButtons="true" SwitchGame="ShowNewGame"/>

<div class="row">
    <div class="col text-center">
        <button @onclick="AddNewGame" class="btn btn-success">Add New Game</button>
    </div>
</div>

@code {

    private List<Game> _games;
    private Random _rnd;
    private Game _oneGameToShow;

    // Step 1
    //private GameListTable _gameList;

    protected async override Task OnInitializedAsync()
    {
        _games = repository.GetAllGames();

        _rnd = new Random(DateTime.Now.Millisecond);
        _oneGameToShow = _games[_rnd.Next(0, _games.Count)];
    }

    private void ShowNewGame()
    {
        _oneGameToShow = SwitchGame();
    }

    private Game SwitchGame()
    {
        Game tempGame;

        if (_games.Count >= 2)
        {
            int iterator = _rnd.Next(0, _games.Count);
            tempGame = _games[iterator];
        }
        else if (_games.Count == 1)
        {
            tempGame = _games[0];
        }
        else
        {
            return new Game() 
            { 
                Name = "No items in array!", 
                ReleaseDate = DateTime.Now
            };
        }

        return tempGame;
    }

    void AddNewGame()
    {
        _games.Add(
            new Game()
            {
                    Name = "Game for text",
                    Genre = "Test",
                    ReleaseDate = DateTime.Today
            }
        );
    }
}